page-brokers{
    .toolbar-background {
        background-color:#e9e9e9;
      }
      .toolbar-title{
        color: black;
      }
      .searchbar-md .searchbar-search-icon {
        left: 87%;
        top: 4px;}
        .searchbar-md .searchbar-input{
          border-radius: 4px;
          height:27px;
          padding: 6px 5px;
                }
                .toolbar .searchbar-md {
                  padding: 0px;
              }
}