progress-bar {
 
    .progress-outer {
        text-align: center;
        background-color: #9b9b9b;
        // color: #9b9b9b;
        position: relative;
        height: 20px;
        width: 100%;
    }
 
    .progress-inner {
        -webkit-transition: width 2s ease-in-out;
        height: 20px;
        white-space: nowrap;
        // background-color: #00aeef;
        transition: width 1s ease-in-out;
    }
 
}