<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>212982281977-kmnlp6tpu8mt49un9ohcp4shbj82360v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.212982281977-kmnlp6tpu8mt49un9ohcp4shbj82360v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>212982281977-d7h3lsf7s2nnedj6sl42jbl2mnbhlla8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAXmPMnWFoSM9_PVN5NZmjX2QuSXIzo94Q</string>
	<key>GCM_SENDER_ID</key>
	<string>212982281977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tradingcompare.app</string>
	<key>PROJECT_ID</key>
	<string>trading-compare-93afb</string>
	<key>STORAGE_BUCKET</key>
	<string>trading-compare-93afb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212982281977:ios:5e6f063354e21569</string>
	<key>DATABASE_URL</key>
	<string>https://trading-compare-93afb.firebaseio.com</string>
</dict>
</plist>