<ion-header (click)="foo()">

  <ion-navbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-3 style="text-align: center;">
        <img alt="logo" height="70" width="70" style="border-radius: 50px;vertical-align:middle;" src="assets/imgs/flags/{{user_profile.countryData.country}}.png">
      </ion-col>
      <ion-col style="margin:auto;">
       
            <div style="font-size: 16px;font-weight: 900;letter-spacing: 0.5px;text-align: center;">
              {{user_profile.nickname}}
            </div>
            <div style="font-size: 12px;letter-spacing: 0.5px;text-align: center;color: #9b9b9b">
              Joined {{user_profile.createAccountDate}}
            </div>
            <div style="font-size: 12px;letter-spacing: 0.5px;text-align: center;color: #9b9b9b">
              45 messages sent
            </div>
   
        
      </ion-col>
      <ion-col col-3>
    </ion-col >

    </ion-row>
  </ion-grid>
<div style="margin-top: 22px;text-align: center;margin-bottom: 35px;">
    <button ion-button style="background: #12a6f9;font-size: 14px;">UPGRADE TO PREMIUM</button>
</div>
 

  <ion-grid style="border-top: 1px solid;border-top: 1px solid #12a6f9;border-bottom: 1px solid #12a6f9;">
    <ion-row>
      <ion-col style="text-align: center;padding-top: 10px;padding-bottom: 10px;"  (click)="change_segment('POSTS')"  [style.background]="selected_segment =='POSTS'?'#12a6f9':'transparent'" >
          <span  [style.color]="true?'white':'#12a6f9'">
              Posts
           </span> 
            <br>
        <b [style.color]="selected_segment =='POSTS'?'white':'#12a6f9'">
            3
        </b> 
      </ion-col>
      <ion-col style="text-align: center;padding-top: 10px;padding-bottom: 10px;" (click)="change_segment('WATCHLIST')"  [style.background]="selected_segment =='WATCHLIST'?'#12a6f9':'transparent'">
       <span  [style.color]="true?'white':'#12a6f9'">
          Watchlist
       </span> <br>
        <b  [style.color]="selected_segment =='WATCHLIST'?'white':'#12a6f9'">
            3
        </b>
      </ion-col>
      <ion-col style="text-align: center;padding-top: 10px;padding-bottom: 10px;" (click)="change_segment('FOLLOWING')"  [style.background]="selected_segment =='FOLLOWING'?'#12a6f9':'transparent'">
      
          <span [style.color]="true?'white':'#12a6f9'">
              Following
           </span>
             <br>
        <b [style.color]="selected_segment =='FOLLOWING'?'white':'#12a6f9'">
            3
        </b>
      </ion-col>
      <ion-col style="text-align: center;padding-top: 10px;padding-bottom: 10px;" (click)="change_segment('FOLLOWERS')"  [style.background]="selected_segment =='FOLLOWERS'?'#12a6f9':'transparent'">
          
          <span [style.color]="true?'white':'#12a6f9'">
              Followers
           </span> <br>
        <b [style.color]="selected_segment =='FOLLOWERS'?'white':'#12a6f9'">
            3
        </b>
      </ion-col>
    </ion-row>
  </ion-grid>


  
  <div [ngSwitch]="selected_segment">

    <div *ngSwitchCase="'POSTS'" style="padding-bottom: 70px;">
  
        Someone is typing ...POSTS
       

    </div> 
   
    <div *ngSwitchCase="'WATCHLIST'" style="padding-bottom: 70px;">
  
        <ion-grid>
            <ion-row style="border-bottom: 1px solid #4a4a4a;height: 40px;" *ngFor="let watchlist of globalProvider.watchlists;let i = index;" (click)="goToDetails(watchlist)">
              <ion-col style="overflow: hidden;margin:auto;text-align: left;white-space: nowrap;">
                <span style="padding-left: 3px;">
                  <ion-icon *ngIf="watchlist.is_in_watchlist" name="star-v-a"  (click)="remove_from_watchlist($event,watchlist.symbol,watchlist.type,i)"></ion-icon>
                  <ion-icon *ngIf="!watchlist.is_in_watchlist" name="star-v" (click)="add_to_watchlist($event,watchlist.symbol,watchlist.type,i)"></ion-icon>
                </span>
                <span style="font-size:16px;font-weight: 700;white-space: nowrap;">
                 <span [ngSwitch]="watchlist.type">
                   <span *ngSwitchCase="'STOCK'">
                      {{watchlist.shortName}}
                   </span>
                   <span *ngSwitchCase="'CRYPTO'">
                      {{watchlist.name}}
                   </span>
                   <span *ngSwitchCase="'FOREX'">
                      {{watchlist.symbol}}
                   </span>
                  
                 </span>
                </span>
              </ion-col>
     
          
              <ion-col style="text-align: right;margin:auto;">
                <div style="font-size:16px;text-align: right;">
                  <span [@changeBackgroundColor]="watchlist.state">
                    {{watchlist?.price|tofixe}}
                  </span>
                </div>

                <div [ngSwitch]="watchlist.type">
                    <span *ngSwitchCase="'STOCK'">
                        <div style="font-size:14px;white-space: nowrap;text-align: right;" [ngStyle]="watchlist.change_pct > 0 && {'color': '#91c353'} || watchlist.change_pct < 0 && {'color': '#e34c47'}">
                          <span [@changeBackgroundColor]="watchlist.state">
                            {{watchlist.change_pct|tofixe}}%
                          </span>
                        </div>
                    </span>
                    <span *ngSwitchDefault>
                        <div style="font-size:12px;white-space: nowrap;text-align: right;" [ngStyle]="watchlist?.change24 > 0 && {'color': '#91c353'} || watchlist.change24 < 0 && {'color': '#e34c47'}">
                          <span [@changeBackgroundColor]="watchlist.state">
                            {{watchlist.change24|tofixe}}%
                          </span>
                        </div>
                    </span>
                  </div>
              </ion-col> 
  
            </ion-row>
  
          </ion-grid>
       

    </div>

      
    <div *ngSwitchCase="'FOLLOWING'" style="padding-bottom: 70px;">
  
        Someone is typing ...FOLLOWING
       

    </div>

      
    <div *ngSwitchCase="'FOLLOWERS'" style="padding-bottom: 70px;">
  
        Someone is typing ...FOLLOWERS
       

    </div>
  </div>
</ion-content>