page-item-details-crypto{
    .bullish-active{
        margin-right: 12px;
        
        white-space: nowrap;
        overflow: hidden;
         display: inline-block;
         width: 64px;
         height: 30px;
         border: none;
         text-align: center;
         border-radius: 2px;
         font-size: 14px;
         padding-top: 6px;
         color: white;
         background: #91c353;
 }
 .bullish-disable{
    margin-right: 12px;
     white-space: nowrap;
     overflow: hidden;
      display: inline-block;
      width: 64px;
      height: 30px;
      border: 1px solid;
      text-align: center;
      border-radius: 2px;
      font-size: 14px;
      padding-top: 6px;
      color: #91c353;
 }

 .bearish-active{
    margin-right: 12px;
     white-space: nowrap;
     overflow: hidden;
      display: inline-block;
      width: 64px;
      height: 30px;
      border: none;
      text-align: center;
      border-radius: 2px;
      font-size: 14px;
      padding-top: 6px;
      color:white;
      background: #e34c47;
 }
 .bearish-disable{
    margin-right: 12px;

      white-space: nowrap;
      overflow: hidden;
       display: inline-block;
       width: 64px;
       height: 30px;
       border: 1px solid;
       text-align: center;
       border-radius: 2px;
       font-size: 14px;
       padding-top: 6px;
       color: #e34c47;
 }
    .toolbar-title {
        text-overflow: unset;
        white-space: unset;
        font-size:18px;
     }

           
    .container {
        border-bottom: 1px solid #4a4a4a;
        padding-bottom: 2px;
        border-top: 1px solid #4a4a4a;
        padding-top: 2px;
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
    }

    .th-segments {
        font-size: 16px;
		padding: .5em 1em;
    }
    ::-webkit-scrollbar { 
        display: none; 
    }

    :host {
  display: block;
  overflow: hidden; /* Hide everything that doesn't fit compoennt */
}

ion-slides {
    height: auto;
  
  }
}
