<div class="dialog-overlay cq-dialog" id="studyDialog" *ngIf="launchDialog | async">
	<div class="dialog">
		<h3>{{studyName}}</h3>

		<div id="inputs">
			<div class="input dialog-item" *ngFor="let input of this.inputs">
				<div *ngIf="input.type=='number'">
					{{input.heading}}<input type="number" [(ngModel)]="input.value" name="value">
				</div>
				<div *ngIf="input.type=='text'">
					{{input.heading}}<input type="text" [(ngModel)]="input.value"  name="value">
				</div>
				<div *ngIf="input.type=='checkbox'">
					{{input.heading}}<input type="checkbox" [(ngModel)]="input.value"  name="value">
				</div>

				<div *ngIf="input.type=='select'">
				<form>
					<select [(ngModel)]="input.value"  name="value">
						<option *ngFor="let option of input.options | mapObjectToArrayPipe">{{option}}</option>
					</select>
					<span>{{input.heading}}</span>
				</form>
				</div>
			</div>
		</div>

		<hr>

		<div id="outputs">
			<div class="output dialog-item" *ngFor="let output of outputs">
				<div *ngIf="output.color" [ngStyle]="{'background-color':output.color}" class="color-picker-swatch output" (click)="launchColorpicker(output,$event)"></div>
				<span>{{output.heading}}</span>
			</div>
		</div>

		<hr>

		<div id="parameters">
			<div class="parameter dialog-item" *ngFor="let param of parameters">
				<div *ngIf="param.color" [ngStyle]="{'background-color':param.color}" class="color-picker-swatch param" (click)="launchColorpicker(param,$event)"></div>
				<input *ngIf="param.name=='studyOverZones'" type="checkbox" [(ngModel)]="param.value">
				<input *ngIf="param.name=='studyOverBought' || param.name=='studyOverSold'" type="number" [(ngModel)]="param.value">
				<span>{{param.heading}}</span>
			</div>
		</div>

	<hr *ngIf="parameters.length">
	<div>
		<button class="ciq-dialog-cntrls" (click)="updateStudy(inputs, outputs, parameters); closeMe();"
		style="margin: 5px 45%;">
			Save
		</button>
	</div>

	</div>
</div>
