<ion-header (click)="foo()">
 
  <ion-navbar>
    <ion-title>{{item.name}}</ion-title>
    <ion-buttons end>
      <img alt="logo" height="40" width="40" style="border-radius: 50px;" src="assets/imgs/flags/{{item.country}}.png">
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content #content_detail>
 


  <ion-grid style="padding:16px;">
    <ion-row>
      <ion-col col-3>
        <img style="width: 60px;height: 60px;border-radius: 50px;" [src]="item.logo" (error)="errorHandler($event)">
      </ion-col>
      <ion-col>
        <div>
          <span style="font-size:24px;">
            {{item.price|tofixe}} {{item.currency|currencySymbol}}

          </span>
          &nbsp;
          <span style="font-size:16px;" [ngStyle]="item.change_pct < 0  && {'color': '#ee6071'}  || item.change_pct > 0  && {'color': '#00d68b'}">
            {{item.change_pct|tofixe}} %
          </span>
        </div>
        <div style="position: absolute;bottom: 10px;">
          <span style="font-size:14px;">
            High : {{item.day_high|tofixe}}
          </span>
          &nbsp; &nbsp;
          <span style="font-size:14px;">
            Low : {{item.day_low|tofixe}}
          </span>
        </div>
      </ion-col>
      <ion-col col-1>
        <ion-icon *ngIf="item.is_in_watchlist" name="star-v-a" (click)="globalProvider.remove_from_watchlist(undefined,item)"></ion-icon>
        <ion-icon *ngIf="!item.is_in_watchlist" name="star-v" (click)="globalProvider.add_to_watchlist(undefined,item)"></ion-icon>
      </ion-col>


    </ion-row>
  </ion-grid>

  <div style="display: inline-flex;padding:16px;width: 100%;padding-top: unset;">
    <span (click)="change_sentiment('BULLISH')" [ngClass]="item.sentiment == 'BULLISH' && item.status == 'OPEN' ? 'bullish-active' : 'bullish-disable'">
      BULLISH
    </span>
    <span (click)="change_sentiment('BEARISH')" [ngClass]="item.sentiment == 'BEARISH' && item.status == 'OPEN' ? 'bearish-active' :  'bearish-disable'">
      BEARISH
    </span>

    <div style="width: 40%;">
      <div style="font-size: 8px;">
        SENTIMENT: 63% BEARISH
      </div>
      <div>
        <progress-bar [progress]="20" [color]="'#e34c47'"></progress-bar>
      </div>
    </div>
  </div>

  <div class="container" style="position: sticky;top: 0;z-index:1000;background: #2b2b2b;">
    <table>
      <thead>
        <tr>
          <th class="th-segments" (click)="changeSegment('CHAT')" [ngStyle]="selectedSegment == 'CHAT' && {'border-bottom': '2px solid #12a6f9','color':'#12a6f9'} || selectedSegment != 'CHAT' && {'border-bottom': 'unset','color':'#707070'} ">CHAT</th>
          <th class="th-segments" (click)="changeSegment('OVERVIEW')" [ngStyle]="selectedSegment == 'OVERVIEW' && {'border-bottom': '2px solid #12a6f9','color':'#12a6f9'} || selectedSegment != 'OVERVIEW' && {'border-bottom': 'unset','color':'#707070'} ">OVERVIEW</th>
          <th class="th-segments" (click)="changeSegment('CHART')" [ngStyle]="selectedSegment == 'CHART' && {'border-bottom': '2px solid #12a6f9','color':'#12a6f9'} || selectedSegment != 'CHART' && {'border-bottom': 'unset','color':'#707070'} ">CHART</th>
          <th class="th-segments" (click)="changeSegment('SOCIAL')" [ngStyle]="selectedSegment == 'SOCIAL' && {'border-bottom': '2px solid #12a6f9','color':'#12a6f9'} || selectedSegment != 'SOCIAL' && {'border-bottom': 'unset','color':'#707070'} ">SOCIAL</th>
          <th class="th-segments" (click)="changeSegment('NEWS')" [ngStyle]="selectedSegment == 'NEWS' && {'border-bottom': '2px solid #12a6f9','color':'#12a6f9'} || selectedSegment != 'NEWS' && {'border-bottom': 'unset','color':'#707070'} ">NEWS</th>
        </tr>
      </thead>
    </table>
  </div>

  <div [ngSwitch]="selectedSegment" swipeSegment [tabsList]="Segments" [(currentTab)]="selectedSegment" (tabChanged)="onTabChanged($event)"
    class="swipe-area">

    <div *ngSwitchCase="'CHAT'" style="padding-bottom: 70px;">
      <ion-grid style="padding: 8px;padding-bottom: unset;" [style.min-height.px]="height - 350">
        <ion-row *ngFor="let comment of comments;" style="margin-bottom: 19px;">
          <ion-col col-2 style="text-align: right;">
            <div>
              <img alt="logo" height="50" width="50" style="border-radius: 50px;vertical-align:middle;" src="assets/imgs/flags/{{comment.country}}.png">
            </div>
          </ion-col>
          <ion-col col-10>
            <div class="comment">
              <div style="display: inline">
                <ion-grid>
                  <ion-row>
                    <ion-col style="font-size:14px;font-weight: 800;">
                        {{comment.nickname}}
                    </ion-col>
                    <ion-col style="font-size: 12px;font-weight: 400;color: #9b9b9b;text-align: right;">
                        {{comment.date_from_now}}
                    </ion-col>
                  </ion-row>
                </ion-grid>
                   
              </div>
              <div style="font-size:14px;font-weight: 300;">
                {{comment.txt}}
              </div>

              <div   style="padding-top: 5px;text-align: end;">
                
                <div *ngIf="comment.user_id != authData.user._id" (click)="reply(comment)" style="font-size:14px;font-weight: 500;color:#6ae5f5">
                  Reply
                </div>

              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

     

      <div  [style.opacity]="is_typing == 'nobodyyy'?'0':'1'" style="height:30px;text-align: center;font-weight: 100;color: #ababab;">
          Someone is typing ...
        </div>  

       

    </div>
   

    <div *ngSwitchCase="'OVERVIEW'" style="padding: 16px;">
      <button ion-button style="background: #12a6f9;height: 30px;" block>Trade Now</button>

      <div style="text-align: left;font-size: 15px; line-height: 1.8;">
        Price : {{item.price}}
        <br> Currency : {{item.currency}}
        <br> Open : {{ item.price_open}}
        <br> Day High: {{item.day_high}}
        <br> Day Low: {{item.day_low}}
        <br> Year High: {{item['52_week_high']}}
        <br> Year Low: {{item['52_week_low']}}
        <br> Day Change : {{item.day_change}}
        <br> Change Pct : {{item.change_pct}}
        <br> Close Yesterday : {{item.close_yesterday}}
        <br> Market Cap : {{item.market_cap}}
        <br> Volume : {{ item.volume}}
        <br> Shares : {{item.shares}}
        <br> Stock Exchange : {{item.stock_exchange_long}}
        <br> Timezone : {{ item.timezone_name}}
        <br> Last Trade: {{item.last_trade_time}}
      </div>
    </div>

    <div *ngSwitchCase="'CHART'">
      <div style="height:350px; position: relative !important;">
        <chart-ui [symbol]="symbol" [exchDisp]="'none'" [group]="'stock'" class="ciq-night"></chart-ui>
      </div>
    </div>

    <div *ngSwitchCase="'SOCIAL'" style="padding:16px;">
      <ion-grid>
        <ion-row *ngFor="let item1 of tweetsdata;let i = index;" style="margin-bottom: 6px;padding-bottom: 5px;border-bottom: 1px solid #4a4a4a;"
          (click)="openUrl(i)">
          <ion-grid>
            <ion-row>
              <ion-col style="text-align: left;font-size:14px;font-weight: 900;">
                Twitter @{{item1.user.name}}
              </ion-col>
              <ion-col col-3 style="text-align: right;font-size:12px;color:#9b9b9b">
                {{item1.created_at}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col style="text-align: left;font-size:14px;">
                {{item1.text}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col style="text-align: left;font-size:12px;color:#9b9b9b">
                {{item1.retweet_count}} Retweets {{item1.favorite_count}} Likes
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-row>
      </ion-grid>
    </div>

    <div *ngSwitchCase="'NEWS'">
      <h1>slideNews</h1>
    </div>


  </div>
</ion-content>   

<div  class="msg" *ngIf="selectedSegment == 'CHAT'">   
  <ion-grid>
    <ion-row style="padding:10px">
      <ion-col col-10>
        <ion-input #myInput (keydown.enter)="sendMessage()" (ionChange)="typing()" style="background: white;padding-left: 4px;border-radius: 4px;width: 98%;color: black;" type="text" placeholder="Type a message" [(ngModel)]="message" name="message">
       </ion-input>
      </ion-col>
      <ion-col  [style.background]="message === ''?'#6c6c6c':'#12a6f9'" col-2 (click)="sendMessage()" style="text-align: center;padding-top: 12px;border-radius: 3px;">
        POST
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <div class="sender">
      <label for="inputID" class="send-chat">send</label>
    
      <input id="inputID" type="text" ng-model="..." class="...">
      <div class="button-send">
     
      </div>
      </div> -->
  </div>
  <ion-fab (tap)="scroll_up()" *ngIf="showScrollButton && selectedSegment == 'CHAT'" right bottom>
      <button style="background: #12a6f9;width: 35px;height: 35px;color: white;" ion-fab color="light" click><ion-icon name="md-arrow-round-up"></ion-icon></button>
    </ion-fab>
<!-- 
  <div class="msg">
      <input type="text" placeholder="Message ..." [(ngModel)]="msg" (keydown.enter)="sendMessage()">
      <button small (click)="sendMessage()" 
                    [disabled]="msg === ''">
        Send
      </button>  
    </div> -->

   