<ion-content padding>
  <button ion-button (click)="loginUserWithProvider('google')" style="text-align: center;height: 30px;width: 100%;background: #e54840;padding: 5px;">
    <span>
      <ion-icon name="logo-googleplus"></ion-icon>
    </span>
    <span style="padding-left:5px">
      Google
    </span>
  </button>

  <button (click)="loginUserWithProvider('facebook')" ion-button style="text-align: center;height: 30px;width: 100%;background: #3b5995;padding: 5px;">
    <span>
      <ion-icon name="logo-facebook"></ion-icon>
    </span>
    <span style="padding-left:5px">
      Facebook
    </span>
  </button>



  <ion-grid style="background: #2b2b2b;margin-bottom:10px;">
    <div style="color: red;text-align: center;">
      {{error}}
    </div>
    <ion-row>
      <ion-col>
        <ion-item style="background: #2b2b2b;">
          <ion-input type="text" style="color:#ffffff;font-size:16px;font-weight: 500;" [(ngModel)]="authData.user.full_name"
            placeholder="Full Name"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item style="background: #2b2b2b;">
          <ion-input type="text" style="color:#ffffff;font-size:16px;font-weight: 500;" [(ngModel)]="authData.user.nickname"
            placeholder="Username"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item style="background: #2b2b2b;">
          <ion-input type="email" style="color:#ffffff;font-size:16px;font-weight: 500;" [(ngModel)]="authData.user.email"
            placeholder="{{'Email'|translate}}"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item style="background: #2b2b2b;">
          <ion-input type="password" style="color:#ffffff;font-size:16px;font-weight: 500;" [(ngModel)]="authData.user.password"
            placeholder="{{'Password'|translate}}"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col (click)="presentcountries()">
        <ion-item style="background: #2b2b2b;">
          <div style="color:#ffffff;font-size:16px;font-weight: 500;">{{authData.user.countryData.country}}</div>
          <ion-icon style="color: #ffffff;font-size:15px; " name="md-arrow-dropdown" item-right></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col (click)="presentDialCode()" col-4>
        <ion-item style="background: #2b2b2b;">
          <div style="color:#ffffff;font-size:16px;font-weight: 500;">
            {{authData.user.countryData.dial_code}}
          </div>
          <ion-icon style="color: #ffffff;font-size:15px; " name="md-arrow-dropdown" item-right></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item style="background: #2b2b2b;">
          <ion-input type="tel" style="color:#ffffff;font-size:16px;font-weight: 500;" [(ngModel)]="authData.user.phone_number"
            placeholder="{{'Phone_Number'|translate}}"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col (click)="presentbrokerlist()">
        <ion-item style="background: #2b2b2b;">
          <div style="color:#ffffff;font-size:16px;font-weight: 500;" [style.color]="authData.user.broker=='none'&& '#4a4a4a' || authData.user.broker!='none'&& '#ffffff'">
            <span *ngIf="authData.user.broker=='none'">
              Broker_(if applicable)
            </span>
            <span *ngIf="authData.user.broker!='none'">
              <span>
                <img src="assets/imgs/brokers/{{authData.user.broker}}.png" style="vertical-align:middle">
              </span>
              <span style="margin-left: 20px;">
                {{ authData.user.broker|firstCap}}
              </span>
            </span>
          </div>
          <ion-icon style="color: #ffffff;font-size:15px; " name="md-arrow-dropdown" item-right></ion-icon>

        </ion-item>
      </ion-col>

    </ion-row>

    <ion-row style="margin-top: 4%;">
      <div (click)="register()" style="width: 100%;text-align: center;">
        <button style="border-radius: 20px;font-size: 16px;font-weight: 500;background: #00aeef;color: white;height: 45px;width: 55%;">{{'Register'|translate}}</button>
      </div>
    </ion-row>
  </ion-grid>

  <div style="text-align: center;padding-top: 17px;color: #949494;" (click)="navCtrl.push('main-tabs');track.log_event('continue_as_guest',{screen:'sign-up'})">
    CONTINUE AS GUEST
  </div>


</ion-content>