
<ion-header>

  <ion-navbar>
    <ion-title>leaderboard</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid>
    <ion-row style="background: #373737;position: sticky;top: 0;">
      <ion-col col-1 style="text-align: center;margin:auto;">
       
      </ion-col>
      <ion-col col-2>
       
      </ion-col>
      <ion-col style="margin:auto;">
        Username
      </ion-col>
      <ion-col style="text-align: right;padding-right: 10px;margin:auto;">
        Profit
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let user of users;let i = index;" style="padding: 6px;" (click)="go_to_user_page(user)">
      <ion-col col-1 style="text-align: center;margin:auto;">
        {{i+1}}
      </ion-col>
      <ion-col col-2>
        <img style="max-height: 30px;" [src]="'assets/imgs/flags/'+user.country+'.png'">
      </ion-col>
      <ion-col *ngIf="user?._id!=authData.user._id" style="margin:auto;">
        {{user?.nickname}}
      </ion-col>
      <ion-col *ngIf="user?._id==authData.user._id" style="margin:auto;">
        {{user?.nickname}} (You!)
      </ion-col>
      <ion-col style="text-align: right;padding-right: 10px;margin:auto;">
        {{user?.total_corect_percent}}%
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
