<ion-header (click)="foo()">

  <ion-navbar>
    <ion-title>live-feed</ion-title>
  </ion-navbar>

</ion-header>


<ion-content #content (ionScrollEnd)="onScroll($event)">


  <div style="background: #2b2b2b;position: sticky;top: 0;z-index: 999;">
    <div style="height: 35px;background: #6ae5f5;text-align: center;height: 35px;padding: 5px;">
      <a href="{{globalProvider.sponcer.link}}">
        <img style="vertical-align:middle;" [src]="globalProvider.sponcer.img">
     </a>
    </div>

    <div class="container" #containerSegment>
      <table>
        <thead>
          <tr style="color:white;">
            <th class="th-segments" (click)="onTabChanged(STOCK)" [ngStyle]="selectedSegment == STOCK && {'border-bottom': '1px solid #12a6f9'}"
              [style.color]="selectedSegment == STOCK?'#12a6f9':'#707070'">STOCKS</th>
            <th class="th-segments" (click)="onTabChanged(FOREX)" [ngStyle]="selectedSegment == FOREX && {'border-bottom': '1px solid #12a6f9'}"
              [style.color]="selectedSegment == FOREX?'#12a6f9':'#707070'">FOREX</th>
            <th class="th-segments" (click)="onTabChanged(CRYPTO)" [ngStyle]="selectedSegment == CRYPTO && {'border-bottom': '1px solid #12a6f9'}"
              [style.color]="selectedSegment == CRYPTO?'#12a6f9':'#707070'">CRYPTO</th>
            <th class="th-segments" (click)="onTabChanged(WATCHLIST)" [ngStyle]="selectedSegment == WATCHLIST && {'border-bottom': '1px solid #12a6f9'}"
              [style.color]="selectedSegment == WATCHLIST?'#12a6f9':'#707070'">WATCHLIST</th>
            <!-- <th class="th-segments" (click)="onTabChanged(TRENDING)" [ngStyle]="selectedSegment == TRENDING && {'border-bottom': '1px solid #12a6f9'}">TRENDING</th> -->
          </tr>
        </thead>
      </table>
    </div>

  </div>


  <div style="position: sticky;padding-top: 5px;z-index: 998;background: #2b2b2b;" [style.top]="selectedSegment == STOCK && '-14px' || selectedSegment != STOCKS && '24px'">

    <ion-grid *ngIf="selectedSegment == STOCK" style="padding-bottom: 10px;padding-left: 8px;padding-right: 8px;"
      (click)="openCountries()">
      <ion-row style="height: 30px;background: #373737;">
        <ion-col col-2 style="margin:auto;text-align: center;">
          <img style="max-height: 25px;" src="assets/imgs/flags/{{exchangeStock}}.png">
        </ion-col>
        <ion-col style="margin:auto;">
          {{exchangeStock}}
        </ion-col>
        <ion-col col-1 style="margin:auto;">
          <ion-icon name="sort-v"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>



    <ion-grid style="padding-bottom: 10px;" id="table">
      <ion-row style="height: 30px;padding-left: 8px;padding-right: 8px;">
        <ion-col style="margin:auto;background: #373737;" (tap)="openSearch()">
          <ion-icon style="font-size: 30px;color:#707070;padding-left: 5px;" name="search"></ion-icon>
        </ion-col>
        <ion-col col-auto style="color:#2b2b2b;"> pp </ion-col>
        <ion-col col-1 style="margin:auto;color:#707070;text-align: center;background: #373737;" [style.opacity]="selectedSegment != 'WATCHLIST' && '0' || selectedSegment == 'WATCHLIST' && '0'">
          <ion-icon style="font-size: 30px; " name="md-create"></ion-icon>
        </ion-col>
        <ion-col col-2 (tap)="changeModeView('LINES')" style="margin:auto;text-align: center;background: #2b2b2b;"[style.color]="modeView=='LINES'&&'#12a6f9'||modeView=='SQUARES'&&'#707070'">
          <div style="text-align:right;">
            <ion-icon (tap)="changeModeView('LINES')" style="margin:auto;text-align: center;background: #373737;"
              [style.color]="modeView=='LINES'&&'#12a6f9'||modeView=='SQUARES'&&'#707070'" [name]="modeView=='LINES'?'bars-v-a':'bars-v-d'"></ion-icon>



            <ion-icon (tap)="changeModeView('SQUARES')" style="margin:auto;text-align: center;background: #373737;"
              [style.color]="modeView=='SQUARES'&&'#12a6f9'||modeView=='LINES'&&'#707070'" [name]="modeView=='SQUARES'?'th-v-a':'th-v-d'"></ion-icon>
          </div>

        </ion-col>
      </ion-row>


    </ion-grid>


    <!-- <ion-grid style="background: #373737;" *ngIf="modeView=='LINES'">
      <ion-row>
        <ion-col [ngClass]="selectedSegment != STOCK && 'col123'" style="padding-left: 3px;">
          Name
          <span *ngIf="selectedSegment != STOCK">
            <ion-icon name="double-sort"></ion-icon>
          </span>
        </ion-col>
 

        <ion-col [ngClass]="selectedSegment != STOCK && 'col123'" style="    text-align: right;padding-right: 3px;">
          Price
          <span *ngIf="selectedSegment != STOCK">
            <ion-icon name="double-sort"></ion-icon>
          </span>
        </ion-col>
      </ion-row>
    </ion-grid> -->
  </div>




  <div [ngSwitch]="selectedSegment" swipeSegment [tabsList]="Segments" [(currentTab)]="selectedSegment" (tabChanged)="onTabChanged($event)"
    class="swipe-area">

    <!-- <ion-slides (ionSlideDidChange)="onSlideChanged($event)" #mySlider [style.padding-top]="selectedSegment != STOCK && '47px' || selectedSegment == STOCK && '77px'"> -->
    <div *ngSwitchCase="STOCK">
      <div *ngIf="modeView=='LINES'">
        <ion-grid>
          <ion-row style="border-bottom: 1px solid #4a4a4a;height: 40px;" *ngFor="let stock of stockProvider.stocks;let i = index;"
            (click)="goToDetailsStock(i)">
            <ion-col style="margin:auto;text-align: left;white-space: nowrap;">
              <span style="padding-left: 3px;">
                <ion-icon *ngIf="stock.is_in_watchlist" name="star-v-a" (click)="globalProvider.remove_from_watchlist($event,stock)"></ion-icon>
                <ion-icon *ngIf="!stock.is_in_watchlist" name="star-v" (click)="globalProvider.add_to_watchlist($event,stock)"></ion-icon>
              </span>
              <span style="font-size:16px;font-weight: 700;">
                {{stock["display_name"]}}
              </span>
            </ion-col>

            <ion-col style="text-align: right;margin:auto;">
              <div style="font-size:16px;text-align: right;">
                <span [@changeBackgroundColor]="stock.state"> {{stock.price |tofixe}} {{stock.currency|currencySymbol}}
                </span>
              </div>
              <div style="font-size:14px;white-space: nowrap;text-align: right;" [ngStyle]="stock.change_pct > 0 && {'color': '#91c353'} || stock.change_pct < 0 && {'color': '#e34c47'}">
                <span [@changeBackgroundColor]="stock.state">
                  {{stock.change_pct|tofixe}}%
                </span>
              </div>
            </ion-col>
            <!-- transition("falling1 => falling, falling => falling1,raising => falling,raising => falling1,raising1 => falling,raising1 => falling1",
            transition("raising1 => raising, raising => raising1,falling => raising,falling => raising1,falling1 => raising,falling1 => raising1", -->
          </ion-row>
        </ion-grid>
      </div>


      <div *ngIf="modeView=='SQUARES'">


        <div style=" overflow: hidden">

          <div style="text-align: center;float:left;padding-top: 12px;width: 45%;height: 153px;;margin:2.5%;background: #373737;border-radius: 5px;"
            *ngFor="let stock of stockProvider.stocks;let i = index;" (click)="goToDetailsStock(i)">
            <!-- <object [data]="getImgStock(i)" type="image/png" style="width: 37px;height: 37px;border-radius: 50px;">
              <img src="assets/imgs/flags/flag general.png" style="width: 37px;height: 37px;border-radius: 50px;" alt="example">
            </object> -->

            <img style="width: 37px;height: 37px;border-radius: 50px;" [src]="stock.logo" (error)="errorHandler($event)">


            <div style="margin-bottom: 4px;">
              <span>
                <ion-icon *ngIf="stock.is_in_watchlist" name="star-v-a" (click)="globalProvider.remove_from_watchlist($event,stock)"></ion-icon>
                <ion-icon *ngIf="!stock.is_in_watchlist" name="star-v" (click)="globalProvider.add_to_watchlist($event,stock)"></ion-icon>
              </span>
              <span style="font-size: 14px">
                {{stock["shortName"]}}
              </span>
            </div>
            <div style="text-align: left;padding-left: 10%;">
              <span>
                {{stock.currency|currencySymbol}}
              </span>
              <span style="font-size: 16px;">
                {{stock.price|tofixe}}
              </span>

              <span style="font-size: 14px;" [ngStyle]="stock.change_pct > 0 && {'color': '#91c353'} || stock.change_pct < 0 && {'color': '#e34c47'}">
                {{stock.change_pct|tofixe}}%
              </span>
            </div>
            <div style="text-align: center;   margin-top: 13px;width: 100%;padding-top: unset;">
              <span (click)="change_sentiment('BULLISH',i,$event)" [ngClass]="stock.sentiment == 'BULLISH' && stock.status == 'OPEN' ? 'bullish-active' : 'bullish-disable'">
                BULLISH
              </span>
              <span>
                &nbsp;
              </span>
              <span (click)="change_sentiment('BEARISH',i,$event)" [ngClass]="stock.sentiment == 'BEARISH' && stock.status == 'OPEN' ? 'bearish-active' :  'bearish-disable'">
                BEARISH
              </span>
            </div>
            <!-- <div>
              <progress-bar [progress]="20" [color]="'#e34c47'"></progress-bar>
            </div> -->
          </div>
        </div>


      </div>
    </div>


    <div *ngSwitchCase="FOREX">

      <div *ngIf="modeView=='LINES'">


        <ion-grid>
          <ion-row style="border-bottom: 1px solid #4a4a4a;height: 40px;" *ngFor="let forex of forexProvider.forexs;let i = index;"
            (click)="goToDetailsForex(i)">
            <ion-col style="margin:auto;text-align: left;white-space: nowrap;">
              <span style="padding-left: 3px;">
                <ion-icon *ngIf="forex.is_in_watchlist" name="star-v-a" (click)="globalProvider.remove_from_watchlist($event,forex)"></ion-icon>
                <ion-icon *ngIf="!forex.is_in_watchlist" name="star-v" (click)="globalProvider.add_to_watchlist($event,forex)"></ion-icon>
              </span>
              <span style="font-size:16px;font-weight: 700;white-space: nowrap;">
                {{forex.fromSymbol}}
              </span>


            </ion-col>





            <ion-col style="text-align: right;margin:auto;">
              <div style="font-size:16px;text-align: right;">
                <span [@changeBackgroundColor]="forex.state">
                  {{forex.price|tofixe}}
                </span>

              </div>
              <div style="font-size:14px;white-space: nowrap;text-align: right;" [ngStyle]="forex.change24 > 0 && {'color': '#91c353'} || forex.change24 < 0 && {'color': '#e34c47'}">
                <span [@changeBackgroundColor]="forex.state">
                  {{forex.change24|tofixe}}%
                </span>
              </div>
            </ion-col>

          </ion-row>

        </ion-grid>

      </div>



      <div *ngIf="modeView=='SQUARES'">


        <div style="overflow: hidden">

          <div style="text-align: center;float:left;padding-top: 12px;width: 45%;height:153px;margin:2.5%;background: #373737;border-radius: 5px;"
            *ngFor="let forex of forexProvider.forexs;let i = index;" (click)="goToDetailsForex(i)">
            <img src={{forex.logo}} style="width: 37px;height: 37px;border-radius: 50px;">
            <div style="margin-bottom: 4px;">
              <span>
                <ion-icon *ngIf="forex.is_in_watchlist" name="star-v-a" (click)="globalProvider.remove_from_watchlist($event,forex)"></ion-icon>
                <ion-icon *ngIf="!forex.is_in_watchlist" name="star-v" (click)="globalProvider.add_to_watchlist($event,forex)"></ion-icon>
              </span>
              <span style="font-size: 14px;">
                {{forex.pair}}
              </span>
            </div>
            <div style="text-align: left;padding-left: 10%;">
              <span>
                {{forex.toSymbol|currencySymbol}}
              </span>
              <span style="font-size: 16px;">
                {{forex.price|tofixe}}
              </span>

              <span style="font-size: 14px;" [ngStyle]="forex.change24 > 0 && {'color': '#91c353'} || forex.change24 < 0 && {'color': '#e34c47'}">
                {{forex.change24|tofixe}}%
              </span>
            </div>
            <div style="text-align: center;margin-top: 13px;width: 100%;padding-top: unset;">
              <span (click)="change_sentiment('BULLISH',i,$event)" [ngClass]="forex.sentiment == 'BULLISH' && forex.status == 'OPEN' ? 'bullish-active' :  'bullish-disable'">
                BULLISH
              </span>
               <span>
                &nbsp;
              </span>
              <span (click)="change_sentiment('BEARISH',i,$event)" [ngClass]="forex.sentiment == 'BEARISH' && forex.status == 'OPEN' ? 'bearish-active' : 'bearish-disable'">
                BEARISH
              </span>
            </div>
          </div>
        </div>


      </div>

    </div>

    <div *ngSwitchCase="CRYPTO">
      <div *ngIf="modeView=='LINES'">
        <ion-grid>
          <ion-row style="border-bottom: 1px solid #4a4a4a;height: 40px;" *ngFor="let crypto of cryptoProvider.cryptos;let i = index;"
            (click)="goToDetailsCrypto(i)">
            <ion-col style="overflow: hidden;margin:auto;text-align: left;white-space: nowrap;">
              <span style="padding-left: 3px;">
                <ion-icon *ngIf="crypto.is_in_watchlist" name="star-v-a" (click)="globalProvider.remove_from_watchlist($event,crypto)"></ion-icon>
                <ion-icon *ngIf="!crypto.is_in_watchlist" name="star-v" (click)="globalProvider.add_to_watchlist($event,crypto)"></ion-icon>
              </span>
              <span style="font-size:16px;font-weight: 700;white-space: nowrap;">
                {{crypto.name}}
              </span>
            </ion-col>


            <ion-col style="text-align: right;margin:auto;">
              <div style="font-size:16px;text-align: right;">
                <span [@changeBackgroundColor]="crypto.state">
                  {{crypto.price|tofixe}}
                </span>
              </div>
              <div style="font-size:14px;white-space: nowrap;text-align: right;" [ngStyle]="crypto.change24 > 0 && {'color': '#91c353'} || crypto.change24 < 0 && {'color': '#e34c47'}">
                <span [@changeBackgroundColor]="crypto.state">
                  {{crypto.change24|tofixe}}%
                </span>
              </div>
            </ion-col>

          </ion-row>

        </ion-grid>
      </div>

      <div *ngIf="modeView=='SQUARES'">


        <div style="overflow: hidden">

          <div style="text-align: center;float:left;padding-top: 12px;width: 45%;height: 153px;margin:2.5%;background: #373737;border-radius: 5px;"
            *ngFor="let crypto of cryptoProvider.cryptos;let i = index;" (click)="goToDetailsCrypto(i)">
            <img src={{crypto.logo}} style="width: 37px;height: 37px;border-radius: 50px;">
            <div style="margin-bottom: 4px;">
              <span>
                <ion-icon *ngIf="crypto.is_in_watchlist" name="star-v-a" (click)="globalProvider.remove_from_watchlist($event,crypto)"></ion-icon>
                <ion-icon *ngIf="!crypto.is_in_watchlist" name="star-v" (click)="globalProvider.add_to_watchlist($event,crypto)"></ion-icon>
              </span>
              <span style="font-size: 14px;">
                {{crypto.shortName}}
              </span>
            </div>
            <div style="text-align: left;padding-left: 10%;">
              <span>
                {{crypto.toSymbol|currencySymbol}}
              </span>
              <span style="font-size: 16px;">
                {{crypto.price|tofixe}}
              </span>


              <span style="font-size: 14px;" [ngStyle]="crypto.change24 > 0 && {'color': '#91c353'} || crypto.change24 < 0 && {'color': '#e34c47'}">
                {{crypto.change24|tofixe}}%
              </span>
            </div>
            <div style="text-align: center;margin-top: 13px;width: 100%;padding-top: unset;">
              <span (click)="change_sentiment('BULLISH',i,$event)" [ngClass]="crypto.sentiment == 'BULLISH' && crypto.status == 'OPEN' ? 'bullish-active' : 'bullish-disable'">
                BULLISH
              </span>
              <span (click)="change_sentiment('BEARISH',i,$event)" [ngClass]="crypto.sentiment == 'BEARISH' && crypto.status == 'OPEN' ? 'bearish-active' : 'bearish-disable'">
                BEARISH
              </span>
            </div>
          </div>
        </div>


      </div>

    </div>

    <div *ngSwitchCase="WATCHLIST">
      <div *ngIf="globalProvider.watchlists.length == 0" style="text-align:center;">
          <div style="text-align: center;font-size: 16px;color: #9B9B9B;margin-top: 35px;font-weight: 300;">
            You have no instruments in your watchlist
          </div>

  <div style="margin-top: 22px;text-align: center;margin-bottom: 10px;">
    <button (click)="startWatchlist()" ion-button style="background: #12a6f9;font-size: 14px;">START YOUR WATCHLIST</button>
  </div>  

      </div>
      <div *ngIf="modeView=='LINES'">
        <ion-grid>
          <ion-row style="border-bottom: 1px solid #4a4a4a;height: 40px;" *ngFor="let watchlist of globalProvider.watchlists;let i = index;"
            (click)="goToDetails(watchlist)">
            <ion-col style="overflow: hidden;margin:auto;text-align: left;white-space: nowrap;">
              <span style="padding-left: 3px;">
                <ion-icon *ngIf="watchlist.is_in_watchlist" name="star-v-a" (click)="globalProvider.remove_from_watchlist($event,watchlist)"></ion-icon>
                <ion-icon *ngIf="!watchlist.is_in_watchlist" name="star-v" (click)="globalProvider.add_to_watchlist($event,watchlist)"></ion-icon>
              </span>
              <span style="font-size:16px;font-weight: 700;white-space: nowrap;">
                <span [ngSwitch]="watchlist.type">
                  <span *ngSwitchCase="STOCK">
                    {{watchlist.shortName}}
                  </span>
                  <span *ngSwitchCase="CRYPTO">
                    {{watchlist.name}}
                  </span>
                  <span *ngSwitchCase="FOREX">
                    {{watchlist.symbol}}
                  </span>

                </span>
              </span>
            </ion-col>


            <ion-col style="text-align: right;margin:auto;">
              <div style="font-size:16px;text-align: right;">
                <span [@changeBackgroundColor]="watchlist.state">
                  {{watchlist?.price|tofixe}}
                </span>
              </div>

              <div [ngSwitch]="watchlist.type">
                <span *ngSwitchCase="STOCK">
                  <div style="font-size:14px;white-space: nowrap;text-align: right;" [ngStyle]="watchlist.change_pct > 0 && {'color': '#91c353'} || watchlist.change_pct < 0 && {'color': '#e34c47'}">
                    <span [@changeBackgroundColor]="watchlist.state">
                      {{watchlist.change_pct|tofixe}}%
                    </span>
                  </div>
                </span>
                <span *ngSwitchDefault>
                  <div style="font-size:12px;white-space: nowrap;text-align: right;" [ngStyle]="watchlist?.change24 > 0 && {'color': '#91c353'} || watchlist.change24 < 0 && {'color': '#e34c47'}">
                    <span [@changeBackgroundColor]="watchlist.state">
                      {{watchlist.change24|tofixe}}%
                    </span>
                  </div>
                </span>
              </div>
            </ion-col>

          </ion-row>

        </ion-grid>
      </div>

      <div *ngIf="modeView=='SQUARES'">


        <div style="overflow: hidden">

          <div style="text-align: center;float:left;padding-top: 12px;width: 45%;height: 153px;margin:2.5%;background: #373737;border-radius: 5px;"
            *ngFor="let watchlist of globalProvider.watchlists;let i = index;" (click)="goToDetails(watchlist,i)">
            <img [src]="watchlist.logo" (error)="errorHandler($event)" style="width: 37px;height: 37px;border-radius: 50px;">

            <div style="margin-bottom: 4px;">
              <span>
                <ion-icon *ngIf="watchlist?.is_in_watchlist" name="star-v-a" (click)="globalProvider.remove_from_watchlist($event,watchlist)"></ion-icon>
                <ion-icon *ngIf="!watchlist?.is_in_watchlist" name="star-v" (click)="globalProvider.add_to_watchlist($event,watchlist)"></ion-icon>
              </span>
              <span style="font-size: 16px;">

                <span [ngSwitch]="watchlist.type">
                  <span *ngSwitchCase="STOCK">
                    {{watchlist.shortName}}
                  </span>
                  <span *ngSwitchCase="CRYPTO">
                    {{watchlist.name}}
                  </span>
                  <span *ngSwitchCase="FOREX">
                    {{watchlist.symbol}}
                  </span>

                </span>
              </span>
            </div>
            <div style="text-align: left;padding-left: 10%;">
              <span style="font-size: 16px;">
                {{watchlist?.price|tofixe}}
              </span>
              <span [ngSwitch]="watchlist.type">
                <span *ngSwitchCase="STOCK">
                  {{watchlist.currency|currencySymbol}}
                </span>
                <span *ngSwitchCase="CRYPTO">
                  {{watchlist.toSymbol|currencySymbol}}
                </span>
                <span *ngSwitchCase="FOREX">
                  {{watchlist.toSymbol|currencySymbol}}
                </span>
              </span>
              <span [ngSwitch]="watchlist.type">
                <span *ngSwitchCase="STOCK">
                  <span style="font-size:14px;white-space: nowrap;text-align: right;" [ngStyle]="watchlist.change_pct > 0 && {'color': '#91c353'} || watchlist.change_pct < 0 && {'color': '#e34c47'}">
                    <span>
                      {{watchlist.change_pct|tofixe}}%
                    </span>
                  </span>
                </span>
                <span *ngSwitchDefault>
                  <span style="font-size:14px;white-space: nowrap;text-align: right;" [ngStyle]="watchlist?.change24 > 0 && {'color': '#91c353'} || watchlist.change24 < 0 && {'color': '#e34c47'}">
                    <span>
                      {{watchlist.change24|tofixe}}%
                    </span>
                  </span>
                </span>
              </span>
            </div>
            <div style="text-align: center;margin-top: 13px;width: 100%;padding-top: unset;">
              <span (click)="change_sentiment('BULLISH',i,$event)" [ngClass]="watchlist.sentiment == 'BULLISH' && watchlist.status == 'OPEN' ? 'bullish-active' : 'bullish-disable'">
                BULLISH
              </span>
              <span (click)="change_sentiment('BEARISH',i,$event)" [ngClass]="watchlist.sentiment == 'BEARISH' && watchlist.status == 'OPEN'  ?'bearish-active' : 'bearish-disable'">
                BEARISH
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div *ngSwitchCase="TRENDING">
      <h1>slideTRENDING</h1>
    </div> -->


  </div>
  <!-- </ion-slides> -->
  <!-- <div style="overflow-x:auto;">
    <span style="font-size:20px;">
      STOCKS
    </span>
    <span style="font-size:20px;">
      FOREX
    </span>
    <span style="font-size:20px;">
      CRYPTO
    </span>
    <span style="font-size:20px;">
      WATCHLIST
    </span>
    <span style="font-size:20px;">
      TRENGING
    </span>
  </div> -->
  <ion-infinite-scroll *ngIf="selectedSegment != WATCHLIST" (ionInfinite)="$event.waitFor(doInfinite())">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>