page-sentiments {
    .item-block{
        padding-left: 0px !important;
        padding-right: 0px  !important;
    }
    .item-inner{
        padding-right:0px !important;
        border-bottom:unset !important;
    }
    ion-item-options{
        border-bottom:unset !important;
    }
}
