


<ion-content padding>



    <!-- <ion-grid style="padding-top: 10px;min-height: 148px;">
        <ion-row *ngFor="let user of users;let i = index;" style="padding: 6px;" (click)="go_to_user_page(user)">
          <ion-col col-1 style="text-align: center;margin:auto;">
            {{i+1}}
          </ion-col>
          <ion-col col-2>
            <img style="max-height: 30px;" [src]="'assets/imgs/flags/'+user.country+'.png'">
          </ion-col>
          <ion-col *ngIf="user._id!=authData.user._id" style="margin:auto;">
            {{user.nickname}}
          </ion-col>
          <ion-col *ngIf="user._id==authData.user._id" style="margin:auto;">
            {{user.nickname}} (You!)
          </ion-col>
          <ion-col style="text-align: right;padding-right: 10px;margin:auto;">
            {{user.total_corect_percent}}%
          </ion-col>
        </ion-row>
      </ion-grid> -->
<ion-grid>

    <ion-row *ngIf="authData.isFinishRegistration" (click)="open_profile()" style="height: 42px;border-bottom: 1px solid #4a4a4a;margin-right: -16px;margin-left: -16px;margin-bottom: 18px;">
        
        <ion-col style="text-align: left;margin: auto;padding-left: 16px;">
            <img style="vertical-align: middle;max-height: 30px;" [src]="'assets/imgs/flags/'+authData.user.countryData.country+'.png'">
         <span style="padding-left: 15px;">
            My Profile
         </span> 
          </ion-col>
      </ion-row>

  <ion-row (click)="open_home()" style="height: 42px;">
    <ion-col col-1 style="text-align: center;margin: auto">
      <ion-icon name="home-v"></ion-icon>
    </ion-col>
    <ion-col style="text-align: left;margin: auto;padding-left: 37px;">
      Home
      </ion-col>
  </ion-row>

  <ion-row (click)="open_livefeeds()" style="height: 42px;">
    <ion-col col-1 style="text-align: center;margin: auto">
      <ion-icon name="feed-v"></ion-icon>
    </ion-col>
    <ion-col style="text-align: left;margin: auto;padding-left: 37px;">
      Live Feed
      </ion-col>
  </ion-row>

  <!-- <ion-row (click)="open_watchlist()" style="height: 42px;">
    <ion-col col-1 style="text-align: center;margin: auto;">
      <ion-icon name="feed-v"></ion-icon>
    </ion-col>
    <ion-col style="text-align: left;margin: auto;padding-left: 37px;">
      Watchlist
      </ion-col>
  </ion-row> -->

  <ion-row style="height: 42px;">
    <ion-col col-1 style="text-align: center;margin: auto">
      <ion-icon name="bell-v"></ion-icon>
    </ion-col>
    <ion-col style="text-align: left;margin: auto;padding-left: 37px;">
      Alerts (COMING SOON)
      </ion-col>
  </ion-row>

  <ion-row (click)=" navCtrl.parent.select(3); " style="height: 42px;">
    <ion-col col-1 style="text-align: center;margin: auto">
      <ion-icon name="comment-v"></ion-icon>
    </ion-col>
    <ion-col style="text-align: left;margin: auto;padding-left: 37px;">
      Chat
      </ion-col>
  </ion-row>

  <ion-row (click)="open_leaderboard()" style="height: 42px;">
    <ion-col col-1 style="text-align: center;margin: auto">
      <ion-icon name="trophy-v"></ion-icon>
    </ion-col>
    <ion-col style="text-align: left;margin: auto;padding-left: 37px;">
      Leaderboard
      </ion-col>
  </ion-row>

  <ion-row (click)="open_sentiment()" style="height: 42px;">
    <ion-col col-1 style="text-align: center;margin: auto">
      <ion-icon name="users-v"></ion-icon>
    </ion-col>
    <ion-col style="text-align: left;margin: auto;padding-left: 37px;">
      My Social Sentiment
      </ion-col>
  </ion-row>



  <!-- <ion-row (click)="open_brokers()" style="height: 42px;">
    <ion-col col-1 style="text-align: center;margin: auto">
      <ion-icon name="feed-v"></ion-icon>
    </ion-col>
    <ion-col style="text-align: left;margin: auto;padding-left: 37px;">
      Brokers
      </ion-col>
  </ion-row> -->

  <!-- <ion-row (click)="open_notifications()" style="height: 42px;">
    <ion-col col-1 style="text-align: center;margin: auto">
      <ion-icon name="feed-v"></ion-icon>
    </ion-col>
    <ion-col style="text-align: left;margin: auto;padding-left: 37px;">
      Notifications
      </ion-col>
  </ion-row> -->

  
  <!-- <ion-row (click)="open_setting()" style="height: 42px;">
    <ion-col col-1 style="text-align: center;margin: auto">
      <ion-icon name="feed-v"></ion-icon>
    </ion-col>
    <ion-col style="text-align: left;margin: auto;padding-left: 37px;">
      Settings
      </ion-col>
  </ion-row> -->

  <a  href="mailto:contact@tradingcompare.com?subject=Hello" style="text-decoration: none;color:white;">
  <ion-row style="height: 42px;">
     <ion-col col-1 style="text-align: center;margin: auto">
          <ion-icon name="envelope-v"></ion-icon>
        </ion-col>
        <ion-col style="text-align: left;margin: auto;padding-left: 37px;">
          Contact Us
          </ion-col>

  </ion-row>
</a>
  
  <ion-row (click)="share()" style="height: 42px;color:#12a6f9">
    <ion-col col-1 style="text-align: center;margin: auto">
      <ion-icon name="share-v"></ion-icon>
    </ion-col>
    <ion-col style="text-align: left;margin: auto;padding-left: 37px;">
      Share
      </ion-col>
  </ion-row>

  
  
  <ion-row (click)="open_ratus()" style="height: 42px;color:#12a6f9;">
    <ion-col col-1 style="text-align: center;margin: auto">
      <ion-icon name="star-menu"></ion-icon>
    </ion-col>
    <ion-col style="text-align: left;margin: auto;padding-left: 37px;">
      <span >
        Rate Us 
      </span>
      <span style="padding-left:11px;">
        <ion-icon name="star-menu-yellow"></ion-icon>
      </span>
      <span>
        <ion-icon name="star-menu-yellow"></ion-icon>
      </span>
      <span>
        <ion-icon name="star-menu-yellow"></ion-icon>
      </span>
      <span>
        <ion-icon name="star-menu-yellow"></ion-icon>
      </span>
      <span>
        <ion-icon name="star-menu-yellow"></ion-icon>
      </span>
      </ion-col>
  </ion-row>

  
  
  <!-- <ion-row (click)="open_language()" style="height: 42px;">
    <ion-col col-1 style="text-align: center;margin: auto">
      <ion-icon name="feed-v"></ion-icon>
    </ion-col>
    <ion-col style="text-align: left;margin: auto;padding-left: 37px;">
      Language
      </ion-col>
  </ion-row> -->

<ion-row *ngIf="globalProvider.isAuth()" (click)="logout()" style="height: 42px;">
  <ion-col col-1 style="text-align: center;margin: auto">
    <ion-icon name="sign-out-v"></ion-icon>
  </ion-col>
  <ion-col  style="text-align: left;margin: auto;padding-left: 37px;">
    Sign Out
    </ion-col>
    
</ion-row>


<ion-row *ngIf="!globalProvider.isAuth()" (click)="navCtrl.push('login-tabs')" style="height: 42px;">
  <ion-col col-1 style="text-align: center;margin: auto">
    <ion-icon style="color: #999999;font-size: 23px;" name="md-log-in"></ion-icon>
  </ion-col>
    <ion-col   style="text-align: left;margin: auto;padding-left: 37px;">
      Sign in
      </ion-col>
</ion-row>
</ion-grid>
</ion-content>
