
<ion-header >

  <ion-navbar>
    <ion-title>Chat</ion-title>
  </ion-navbar>

</ion-header>


<ion-content #content_chat>
  <div style="text-align: center;font-size: 16px;color: #9B9B9B;margin-top: 35px;font-weight: 300;" *ngIf="comments.length==0">
    Be the first to comment!
  </div>
  <ion-grid style="padding: 8px;padding-bottom: unset;" [style.min-height.px]="height - 350">
    <ion-row *ngFor="let comment of comments;let i = index" style="margin-bottom: 19px;">
      <ion-col col-2 style="text-align: right;" (click)="go_to_profile(comment)">
        <div>
          <img alt="logo" height="50" width="50" style="border-radius: 50px;vertical-align:middle;" src="assets/imgs/flags/{{comment?.country}}.png">
        </div>
      </ion-col>
      <ion-col col-10>
        <div class="comment" [id]="comment.primary_key" (press)="released(comment.primary_key,comment)">
          <div style="display: inline">
            <ion-grid>
              <ion-row>
                <ion-col (click)="go_to_profile(comment)" style="font-size:14px;font-weight: 800;">
                  {{comment?.nickname}}
                </ion-col>
                <ion-col style="font-size: 12px;font-weight: 400;color: #9b9b9b;text-align: right;">
                  {{comment?.date_from_now}}
                </ion-col>
              </ion-row>
            </ion-grid>

          </div>
          <div style="font-size:14px;font-weight: 300;">
            {{comment.txt}}
          </div>

          <div style="padding-top: 5px;text-align: end;">
            <span (click)="translate(comment)">
              Translate
            </span>
            <span  *ngIf="comment.user_id != authData.user._id" (click)="reply(comment)" style="font-size:14px;font-weight: 500;color:#6ae5f5">
              Reply
            </span>

          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


  <div style="height: 100px;">
    <div [style.opacity]="is_typing == 'nobodyyy'?'0':'1'" style="text-align: center;font-weight: 100;color: #ababab;">
      Someone is typing ...
    </div>
  </div>


</ion-content>

<div class="msg">
  <ion-grid>
    <ion-row style="padding:10px">
      <ion-col col-10>
        <ion-input (ionBlur)="consultar();" (ionFocus)="foodd()" #myInput (keydown.enter)="sendMessage()" (ionChange)="typing()" style="background: white;padding-left: 4px;border-radius: 4px;width: 98%;color: black;"
          type="text" placeholder="Type a message" [(ngModel)]="message" name="message">
        </ion-input>
      </ion-col>
      <ion-col [style.background]="message === ''?'#6c6c6c':'#12a6f9'" col-2 (click)="sendMessage()" style="text-align: center;padding-top: 12px;border-radius: 3px;">
        POST
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <div class="sender">
      <label for="inputID" class="send-chat">send</label>
    
      <input id="inputID" type="text" ng-model="..." class="...">
      <div class="button-send">
     
      </div>
      </div> -->
</div>
<ion-fab *ngIf="showScrollButton" (tap)="scroll_up()" right bottom>
  <button style="background: #12a6f9;width: 35px;height: 35px;color: white;" ion-fab color="light" click>
    <ion-icon name="md-arrow-round-down"></ion-icon>
  </button>
</ion-fab>